<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	 <head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type="text/css" href="/public/stylesheets/hui/bootstrap.min.css"/>
	    <link rel="stylesheet" type="text/css" href="/public/stylesheets/appmsg.css"/>
	</head>

<body>
	<div class="tj msg-list">
	  <div id="first_col" class="b-dib vt msg-col">
	  	     <div class="msg-item-wrapper" id="${newsMulti.msgId}">
		           <div class="msg-item multi-msg" itemid="${newsMulti.msgId}"> 
		           	<input type="text" id="newsId" value="${newsMulti.msgId}" style="display: none;" />
	              	  %{for(int i=0;i<newsMulti.multiTempl.size();i++){ }%
	              	  		%{ if(i==0){ }%
	              	  			<div class="appmsgItem">
		   							<h4 class="msg-t"><a href="javascript:;" class="i-title">${newsMulti.multiTempl.get(i).title}</a></h4>           
		   							<p class="msg-meta"><span class="msg-date">${new Date().format('yyyy-MM-dd')}</span></p>
									<div class="cover">
										<img src="${newsMulti.multiTempl.get(i).imgUrl}" class="i-img" style="">
									</div>
									<p class="msg-text">${newsMulti.multiTempl.get(i).content.raw()}</p>         
								</div>		
	              	  		%{ }else { }%
	              	  		  <div class="rel sub-msg-item appmsgItem">              
									<span class="thumb">                 
									<img src="${newsMulti.multiTempl.get(i).imgUrl}" class="i-img" style="">
									</span>       
									<h4 class="msg-t">                 
									 <a href="javascript:;" target="_blank" class="i-title">${newsMulti.multiTempl.get(i).title}</a>                
									</h4>       
							  </div>
	              	  	%{ }}%
	              	  %{}}%
			   	  </div>   
			  </div>
	  </div>
	</div>
</body>
</html>
<!--<script src="/public/javascripts/sea.js" type="text/javascript" charset="utf-8"></script>
<script src="/public/javascripts/seajs-preload.js" type="text/javascript" charset="utf-8"></script>

<script type="text/javascript">
	//SetConfiguration
	seajs.config({
		alias:{
			"jquerynew":"jquery-1.10.2.min.js",
			"jquery":"jquery.min.js",
			"bootstrap":"/public/javascripts/hui/bootstrap.min.js",
			"until":"global.js",
			"yyucadapter":"yyucadapter.js"
		},
        //版本号配置
		map: [
		[ /^(.*\.(?:css|js))(.*)$/i, '$1?20141223' ]
		],
		preload: ['jquerynew']
	});
	seajs.use(['jquery','until','yyucadapter'],function($,until,yyucadapter){
		window.wechatId=until.getUrlParam("wechatId");
		/**
		 * 连接设置
		 * 
		 */
		$.each($(".link"),function(i,n){
		    var $href = $(this).attr("href");
		    $(this).attr("href",$href+"?wechatId="+wechatId);
		});
		
		function setselid(id){
	    	$('input[relval="'+id+'"]').prop('checked',true);
	    	$('#multiArticle11if').attr('src','/admin/baseService/contresourceshowone-'+id+'.html');
       }
		
		$(".msg-item").click(function(){
			
		   // $('.msg-item').unmask();
			var o = this;
			window.selitemid = $(o).attr('itemid'); 
			alert($(o).attr('itemid'));
			setTimeout(function(){
				//$(o).mask();
				$('#qdxzdbtndiv').show();
				$('#qdxzdbtn').show().css('visibility','visible');
				$('#ddhpng').css('left',($(o).offset().left+$(o).width()/2-37)+'px');
				$('#ddhpng').css('top',($(o).offset().top+$(o).height()/2-30)+'px').show();
			},288);
		});
//		$('.msg-item').dblclick(function(){
//			parent.setselid(window.selitemid);
//			parent.yyucpopclose();
//		});
		$('#qdxzdbtn').click(function(){
			parent.setselid(window.selitemid);
			parent.yyucpopclose();
		});
		
		});
</script>-->