.uploadwrap {
	position:relative;
	left:0;
	top:0;
}
.uploadimg-qrcode {
	cursor:pointer;
}
.uploadimg-headImage {
	cursor:pointer;
}
.upload-pic {
	position:absolute;
	left:0;
	top:0;
	cursor:pointer;
	opacity: 0;filter: alpha(opacity=0);
}
.upload-pic form input {
	width:380px;
	height:342px;
	cursor: pointer; display:block;font-size:900px; text-indent:-9999px; margin-left:12px;
}