body{
	word-wrap:break-word;
	word-break:break-word;
	}
	
	
.viewBox {
width: 400px;
height: 800px;
float: left;
overflow: hidden;
position: relative;
}
.viewCon {
width: 320px;
height: 565px;
background-color: #fff;
word-break: break-all;
position: absolute;
left: 30px;
top: 120px;
}
	
	
.msg-item-wrapper{
	position:relative;
	margin-bottom:26px;
	border:1px solid #e7e7eb;
	/*background: url(/public/images/iphone.png) no-repeat;*/
	background-color:#f4f4f4;
	/*box-shadow:0 2px 2px rgba(0,0,0,0.1);
	-webkit-box-shadow:0 2px 2px rgba(0,0,0,0.1);
	-moz-box-shadow:0 2px 2px rgba(0,0,0,0.1);
	border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;*/
}
.over-mark {
width: 320px;
height: 565px;
overflow-y: scroll;
overflow-x: hidden;
}
/*.msg-item-wrapper{
	position:relative;
	margin-bottom:26px;
	border:1px solid #B8B8B8;
	background-color:#F4F4F4;
	box-shadow:0 2px 2px rgba(0,0,0,0.1);
	-webkit-box-shadow:0 2px 2px rgba(0,0,0,0.1);
	-moz-box-shadow:0 2px 2px rgba(0,0,0,0.1);
	border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	}*/
.msg-item{
	padding:2px 0;
	background-color:#fff;
	border-bottom:1px solid #e7e7eb;
	/*box-shadow:0 2px 4px rgba(0,0,0,0.2);
	-webkit-box-shadow:0 2px 4px rgba(0,0,0,0.2);
	-moz-box-shadow:0 2px 4px rgba(0,0,0,0.2);
	border-radius:5px 5px 0 0;-webkit-border-radius:5px 5px 0 0;-moz-border-radius:5px 5px 0 0;*/
	}
/*.msg-preview .msg-item{border-radius:5px;box-shadow:none;moz-border-radius:5px;moz-box-shadow:none;webkit-border-radius:5px;webkit-box-shadow:none;}*/
.msg-t{margin:6px 0 0;padding-left:14px;line-height:28px;max-height:56px;overflow:hidden;font-size:16px;font-weight:400;letter-spacing:1px;font-weight:bold;}
.msg-meta{margin:0 14px 6px;font-size:13px;}
.cover{margin:0 14px 12px;position:relative;font-size:0;height:160px;overflow:hidden;}
.default-tip{display:block;text-align:center;background-color:#ececec;text-shadow:0 1px 0 #fff;-webkit-text-shadow:0 1px 0 #fff;-moz-text-shadow:0 1px 0 #fff;}
.cover .default-tip{font-size:22px;color:#aaa;line-height:160px;}
.cover img{width:100%;}
.msg-text{margin:0 14px;font-size:14px;line-height:1.6;padding-bottom:8px;text-align:left;}
.msg-preview .msg-opr{display:none;}
.msg-preview .msg-opr{display:none;}
.msg-opr-list{padding:10px 0;letter-spacing:-5px;border-radius:0 0 5px 5px;-webkit-border-radius:0 0 5px 5px;-moz-border-radius:0 0 5px 5px;}
.opr-item{width:50%;font-size:14px;letter-spacing:normal;}
.edit-btn{border-right:1px solid #e7e7eb;}
.opr-btn{padding:2px 0;}
.opr-btn:hover .edit-icon{background-position:-28px -139px;}
.opr-btn:hover .del-icon{background-position:-28px -195px;}
.block{display:block;}
.b-dib{display:inline-block;zoom:1;*display:inline;}
.opr-icon{width:18px;height:18px;background:transparent url('/public/images/1icon18.png') no-repeat;display:block;cursor:pointer;}
.edit-icon{background-position:0 -139px;}
.del-icon{background-position:0 -195px;}
.tc{text-align:center;}
.th{line-height:150px;overflow:hidden;}
.vm{vertical-align:middle;}
.msg-hover-mask{display:none;position:absolute;top:0;width:100%;height:100%;background:rgba(0,0,0,0.6)!important;filter:progid:dximagetransform.microsoft.gradient(GradientType=0,startColorstr='#60000000',endColorstr='#60000000');}
.msg-mask{display:none;position:absolute;top:0;width:100%;height:100%;background:rgba(0,0,0,0.6)!important;filter:progid:dximagetransform.microsoft.gradient(GradientType=0,startColorstr='#60000000',endColorstr='#60000000');}
.msg-selected-tip{width:100%;height:100%;position:absolute;background:transparent url('/media/images/admin/appmsg/2selected-icon.png') no-repeat 50% 50%;}
.dib{display:inline-block;}
.msg-editer-wrapper{
	position:relative;
	min-width:560px;
	max-width:560px;
	background-color:#f4f5f9;
	border: 1px solid #e7e7eb;
	left:50px;
	}
.msg-editer-wrapper2{
	position:relative;
	min-width:560px;
	max-width:560px;
	background-color:#f4f5f9;
	border: 1px solid #e7e7eb;
	left:50px;
}	
.msg-editer{
	
/*	border:1px solid #.msg-item-wrapper{position:relative;margin-bottom:26px;border:1px solid #B8B8B8;background-color:#F4F4F4;box-shadow:0 2px 2px rgba(0,0,0,0.1);-webkit-box-shadow:0 2px 2px rgba(0,0,0,0.1);-moz-box-shadow:0 2px 2px rgba(0,0,0,0.1);border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px;};
	border-radius:5px;box-shadow:0 2px 2px rgba(0,0,0,0.1);
	moz-border-radius:5px;
	moz-box-shadow:0 2px 2px rgba(0,0,0,0.1);
	webkit-border-radius:5px;
	webkit-box-shadow:0 2px 2px rgba(0,0,0,0.1);*/
	padding:14px 0 20px 20px;
	}
.msg-arrow{border-style:dashed solid dashed dashed;font-size:0;height:0;width:0;}
.a-out{border-color:transparent #e7e7eb transparent transparent;border-width:12px 14px 12px 0;left:-13px;top:139px;}
.a-in{border-color:transparent #f4f5f9 transparent transparent;border-width:11px 13px 11px 0;left:-12px;top:140px;}
.abs{position:absolute;}
.rel{position:relative;}
.msg-input,.cover-area,.msg-txta{
	/*background-color:#fff;
	border:1px solid #d3d3d3;*/
	color:#666;
	max-width:540px;
	padding:2px 8px;
	width:540px;
/*	-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;*/
	}
.msg-txta{
	height:60px;
}
.cover-area{max-width:496px;padding:0;width:496px;position:relative;}
.cover-hd{padding:2px 8px 3px;position:relative;}
.upload-tip{color:#666;font-size:12px;line-height:28px;text-align:right;position:absolute;top:3px;right:8px;}
.cover-bd{border-top:1px solid #ccc;font-size:0;overflow:hidden;padding:8px;}
.cover-bd img{width:100px;}
.cover-del{font-size:14px;margin-left:5px;}
.url-link{margin-bottom:6px;}
/*.container{margin:0 0 0 80px;width:80%;}*/
.container{margin:0px;width:100%;}
.containerBox{
	margin-top:7px;
	padding:0 10px;
/*	box-shadow:0 3px 3px #DDD;
	-moz-box-shadow:0 3px 3px #ddd;
	-webkit-box-shadow:0 3px 3px #DDD;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border:1px solid lightGrey;*/
	background-color:white;
	}
.containerBox .boxHeader{
	height:30px;
	padding:0 0 8px 20px;
	border-bottom:1px solid lightGrey;
/*	background-color:whiteSmoke;*/
	}
.containerBox .boxHeader h4{
/*	margin-top:0;
	padding-top:5px;*/
	float: left;
	margin: 3px 0 3px 0;
	line-height: 24px;
	font-weight: 400;
	color: #444;
	font-size: 20px;
	}

.containerBox .content{padding-left:40px;}
.page-bd{
	padding-top:20px;
	padding-left:70px;
	}
.menu{display:block;bottom:0;z-index:7;overflow:auto;}
.clr{clear:both;}
.tj{text-align:justify;}
.vt{vertical-align:top;}
.msg-col{width:350px;font-size:14px;}
.msg-hover .msg-hover-mask{display:block;}
.msg-hover-mask{display:none;position:absolute;top:0;width:100%;height:100%;background:rgba(0,0,0,0.6)!important;filter:progid:dximagetransform.microsoft.gradient(GradientType=0,startColorstr='#60000000',endColorstr='#60000000');}
.msg-selected .msg-mask{display:block;}

.add-access{
	margin:0 2px 26px;
	line-height:150px;
	border:2px dotted #e7e7eb;
	/*border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;*/
	background-color:white;
	}
.add-tip{width:42px;height:42px;background:white url('/media/images/admin/appmsg/3add_imgandtext.png') no-repeat 50% 0;cursor:pointer;}
.page-sub-hd{font-size:16px;font-weight:700;line-height:34px;}
.msg-opr-list{margin-bottom:0;}
.group::after{content:"\200B";display:block;height:0;clear:both;}
.page-nav{margin-top:-40px;zoom:1;}
.sub-msg-item{padding:12px 14px;overflow:hidden;zoom:1;border-top:1px solid #c6c6c6;}
.thumb{float:right;font-size:0;}
.thumb .default-tip{font-size:16px;color:#c0c0c0;width:70px;line-height:70px;border:1px solid #b2b8bd;}
.thumb img{width:70px;height:70px;border:1px solid #b2b8bd;}
.sub-msg-item .msg-t{margin-left:0;margin-right:85px;margin-top:0;padding-left:4px;padding-top:12px;line-height:24px;max-height:48px;font-size:14px;overflow:hidden;}
.add-btn{
	height:90px;
	margin:0 18px;
	color:#b5b5b5;
	background:transparent url('/media/images/admin/appmsg/4appmsg-icon.png') no-repeat 50% -242px;
	}
.multi-access{background-position:50% -342px;}
/*素材管理*/
.add-access {
margin: 0 2px 26px;
line-height: 150px;
border: 2px dotted #e7e7eb;
background-color: white;
}
.containerBox {
margin-top: 7px;
padding: 0 10px;
background-color: white;
}
.containerBox .boxHeader {
height: 30px;
padding: 0 0 8px 20px;
border-bottom: 1px solid lightGrey;
background-color: whiteSmoke;
}
.containerBox .content {
padding-left: 40px;
}
.page-sub-hd {
font-size: 16px;
font-weight: 700;
line-height: 34px;
}
.tc {
text-align: center;
}
.add-btn {
height: 90px;
margin: 0 18px;
color: #b5b5b5;
background: transparent url('/public/images/appmsg-icon.png') no-repeat 50% -242px;
}
.tj {
text-align: justify;
}
#first_col {
display: inline-block;
zoom: 1;
}
.msg-col {
width: 350px;
font-size: 14px;
}
.vt {
vertical-align: top;
}
.b-dib {
display: inline-block;
zoom: 1;
}
.vm {
vertical-align: middle;
}
.multi-access {
background-position: 50% -342px;
}