.contact *:focus{outline :none;}
.contact{
	width: 700px;
	height: auto;
	background: #f6f6f6;
	margin: 40px auto;
	padding: 10px;
}
.contact ul {
	width: 650px;
	margin: 0 auto;
}
.contact ul li{
	border-bottom: 1px solid #dfdfdf;
	list-style: none;
	padding: 12px;
}
.contact ul li label {
	width: 120px;
	display: inline-block;
	float: left;
}
.contact ul li input[type=text],.contact ul li input[type=password]{
	width: 220px;
	height: 25px;
	border :1px solid #aaa;
	padding: 3px 8px;
	border-radius: 5px;
}
.contact ul li input:focus{
	border-color: #c00;
	
}
.contact ul li input[type=text]{
	transition: padding .25s;
	-o-transition: padding  .25s;
	-moz-transition: padding  .25s;
	-webkit-transition: padding  .25s;
}
.contact ul li input[type=password]{
	transition: padding  .25s;
	-o-transition: padding  .25s;
	-moz-transition: padding  .25s;
	-webkit-transition: padding  .25s;
}
.contact ul li input:focus{
	padding-right: 70px;
}
.btn{
	position: relative;
	left: 300px;
}
.tips{
	color: rgba(0, 0, 0, 0.5);
	padding-left: 10px;
}
.tips_true,.tips_false{
	padding-left: 10px;
}
.tips_true{
	color: green;
}
.tips_false{
	color: red;
}