<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="assistant.app.reply.dao.mapper.IImageMessageMapper">
   
    <sql id="tableName">image_message</sql>
    <sql id="imageMessageColumns">mediaId</sql>
    
    
    <insert id="insert" parameterType="ImageMessage" useGeneratedKeys="true" keyProperty="id">
       insert into <include refid="tableName"/> 
       (media_id,gmt_created)
       value(#{mediaId},now())
    </insert>
    
    <delete id="delete" parameterType="ImageMessage">
        delete from <include refid="tableName"/> where id=#{id}
    </delete>
</mapper>