<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta charset="utf-8" />
		<title>微助手</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<link rel="stylesheet" type="text/css" href="/public/stylesheets/style.css"/>
		<link rel="stylesheet" type="text/css" href="/public/stylesheets/bootstrap-modified.css"/>
		<link rel="stylesheet" type="text/css" href="/public/stylesheets/x-one.css"/>
	</head>
<body id="anchor-top">
	<div id="top-menu">
		<li><a href="#home-header" class="menu1 active">微信营销专家</a></li>
		<li><a href="#page2" class="menu2">更加轻松高效</a></li>
        <li><a href="#page3" class="menu3">产品特点</a></li>
        <li><a href="#page4" class="menu4">更好的用户体验</a></li>
        <li><a href="#page5" class="menu5">有效管理客户</a></li>
        <li><a href="#page6" class="menu6">微信商城</a></li>
        <li><a href="#page7" class="menu7">我们的客户</a></li>
        <li><a href="#" class="menu7">联系我们</a></li>
	</div>
	<ul class="slide-control">
		<li class="active">
			<a href="#home-header" data-scroll data-opitions="easing:easeInoutQuad">•</a>
		</li>
		<li class="dark">
			<a href="#page2" data-scroll data-opitions="easing:easeInoutQuad">•</a>
		</li>
		<li class="dark">
			<a href="#page3" data-scroll data-opitions="easing:easeInoutQuad">•</a>
		</li>
		<li class="dark">
			<a href="#page4" data-scroll data-opitions="easing:easeInoutQuad">•</a>
		</li>
		<li class="dark">
			<a href="#page5" data-scroll data-opitions="easing:easeInoutQuad">•</a>
		</li>
		<li class="dark">
			<a href="#page6" data-scroll data-opitions="easing:easeInoutQuad">•</a>
		</li>
		<li class="dark">
			<a href="#page7" data-scroll data-opitions="easing:easeInoutQuad">•</a>
		</li>
	</ul>
	
	<div id="home-header" class="page" style="height:325px">
		<div class="carousel slide" data-ride="carousel">
			<div class="carousel-inner">
				<div class="item slide1 active"></div>
				<div class="item slide2"></div>
				<div class="item slide3"></div>
				<div class="item slide4"></div>
			</div>
		</div>	
		<div class="logo">
			<!--<img src="/public/images/logo.png"/>-->
		</div>
		<div class="btn-div">
			 <a href="/AssistantUI/register">
			    <div class="login-btn">注册</div>
			  </a>
			  <a href="/AssistantUI/login" target="_self" id="login-button" >
			  	<div class="login-btn" >登录</div>
			  </a>
		</div>
		<div class="info">
			<h1>移动时代的微信管理与微信营销专家</h1>
			<h4>专业服务于政府、商家、企业和媒体的</h4>
			<h4>第三方微信公众平台</h4>
		</div>	 
		<div class="scroll-down-boundery">
		    <a href="#page2" class="scroll-down" data-scroll data-options="easing: easeInOutQuad"></a>
		</div>				
	</div>
	
	<div id="page2" class="page" style="height:279px">
		<div class="btn-div">
			<a href="/AssistantUI/register" class="login-btn">注册</a>
		</div>
		<h1>让使用者更加轻松高效，节约成本</h1>
	    <div class="advantages animating">
	    	<div class="advantage first">
	    		<div class="leaf">
	    			<div class="animate">
	    				<img src="/public/images/code.png"/>
	    			</div>
	    		</div>
	    		<p>自动生成个性化的</p>
	    		<p>场景二维码</p>
	    	</div>
	    	<div class="advantage second">
	    		<div class="leaf">
	    			<div class="animate">
	    				<img src="/public/images/info.png"/>
	    			</div>
	    		</div>
	    		<p>自定义菜单</p>
	    		<p>让菜单更加灵活,实用</p>
	    	</div>
	    	<div class="advantage third">
	    		<div class="leaf">
	    			<div class="animate">
	    				<img src="/public/images/list.png"/>
	    			</div>
	    		</div>
	    		<p>丰富多彩的微信营销活动</p>
	    		<p>拉近用户与您的距离</p>
	    	</div>
	    </div>
	    <div class="center-img"><img src="/public/images/scan.png"/></div>
	    <div class="scroll-down-boundery">
			<a href="#page3" class="scroll-down" data-scroll data-options="easing: easeInOutQuad"></a>
		</div>
	</div>
	
	<div id="page3" class="page" style="height:279px">
		<div class="btn-div">
			<a href="/AssistantUI/register" class="login-btn">注册</a>
		</div>
		<div class="features">
			<div class="feature left top ">
				<div class="icon"><img src="/public/images/mail.png"/></div>
				<h4>交互式菜单</h4>
				<p>全面体现你的业务流程</p>
				<p>菜单列表形式展现重点信息，自主设置，一键生成，精准回复，形式多样，内容丰富</p>
			</div>
			<div class="feature left bottom ">
				<div class="icon"><img src="/public/images/settings.png"/></div>
				<h4>LBS</h4>
				<p>好酒也怕巷子深，没有找不到的店</p>
				<p>客户只要分享位置信息，LBS轻松的引导客户通过步行、公交、私家车、地铁等方式找到您的店</p>
			</div>
			<div class="center-img"><img src="/public/images/act.png"/></div>
			<div class="feature right top ">
				<div class="icon"><img src="/public/images/share.png"/></div>
				<h4>微场景</h4>
				<p>重新定义广告传播模式</p>
				<p>让宣传风靡朋友圈</p>
			</div>
			<div class="feature right bottom ">
				<div class="icon"><img src="/public/images/lock.png"/></div>
				<h4>关键词回复</h4>
				<p>便捷关键词回复</p>
				<p>轻松设置</p>
			</div>
		</div>
		<div class="scroll-down-boundery">
				<a href="#page4" class="scroll-down" data-scroll data-options="easing: easeInOutQuad"></a>
		</div>
	</div>
	
	<div id="page4" class="page" style="height:279px">
		<div class="btn-div">
			<a href="/AssistantUI/register" class="login-btn">注册</a>
		</div>
		<div class="info">
			<div class="info-text">
				<h1>为活动嘉宾带来更好的报名与签到体验</h1>
				<p><b>报名易如反掌：</b></p>
				<p>自动识别、自动折扣、一键报名等功能便于多次报名客户，免除信息重复录入；导航栏进行活动分类展示，实现快速查询、即刻报名</p>
				<p style="height: 1em;"> </p>
				<p><b>签到从此时尚：</b></p>
				<p>一个神奇的二维码，让多人可以同时自助签到（艺生活专利技术），无需打印名单，通过手机、pad、电脑在活动现场为客户云端签到</p>
			</div> 
		</div>
		<div class="phone" style="display:none"><img src="/public/images/sign.png"/></div>
		<div class="scroll-down-boundery">
				<a href="#page5" class="scroll-down" data-scroll data-options="easing: easeInOutQuad"></a>
		</div>
	</div>
	<div id="page5" class="page" style="height:61px">
		<div class="btn-div">
			<a href="/AssistantUI/register" class="login-btn">注册</a>
		</div>
		<div class="client-app">
			<img src="/public/images/manage.png"/>
		</div>
		<div class="info" style="display: none;">
			<ul>
				<h1>有效管理客户和会员</h1>
				<li>自动为每个参加活动或购买商品的客户在CRM中建立档案</li>
				<li>查看每个客户的活动和历史交易记录</li>
				<li>获取客户的微信Open ID并与实名信息绑定</li>
				<li>对客户进行分类管理，并给不同的分类设置不同的折扣（电子会员卡功能）</li>
				<li>让客户可以随时修改自己的基本信息，CRM自动更新</li>
				<li>利用微信公众账号开发接口的高级功能（自定义回复、粉丝分组等）</li>
			</ul>
		</div>
		<div class="scroll-down-boundery">
				<a href="#page6" class="scroll-down" data-scroll data-options="easing: easeInOutQuad"></a>
		</div>
	</div>
	<div id="page6" class="page" style="height:61px">
		<div class="btn-div">
			<a href="/AssistantUI/register" class="login-btn">注册</a>
		</div>
		<div class="phone" style="display: none;">
			<img src="/public/images/shop.png"/>
		</div>
		<div class="info">
			<div class="info-text">
				<ul>
					<h1>通过活动销售商品</h1>
					<li>为您的每款商品生成单独的购买链接，便于利用微信订阅号进行单品推送</li>
					<li>为每款商品生成支付二维码，让您可以在活动现场实现产品订购，完成闭环</li>
					<li>将支付二维码应用在您现有的官网上，不用开发一行代码，让你官网具备电商功能</li>
					<li>简单易用的商品管理系统和订单管理系统，让您快速上手，展开电商业务</li>
				</ul>
			</div> 
		</div>
		<div class="scroll-down-boundery">
				<a href="#page7" class="scroll-down" data-scroll data-options="easing: easeInOutQuad"></a>
		</div>
	</div>
	<div id="page7" class="page" style="height: 279px;">
		 <div id="footer" class="bottom">
	    	<a href="#">平台使用协议</a>
	    	<a href="#">隐私安全声明</a>
	    	<a href="#">功能使用手册</a>
	    	<a href="#">联系我们</a>
        </div>
	</div>
</body>
 
</html>
<script src="/public/javascripts/jquery-1.10.2.min.js" type="text/javascript" charset="utf-8"></script>
<script src="/public/javascripts/xone.js" type="text/javascript" charset="utf-8"></script>
<script src="/public/javascripts/smooth.scroll.js" type="text/javascript" charset="utf-8"></script>
<script src="/public/javascripts/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>	


